doc/doxyfilter
examples/example_0_connected/example_0_connected
examples/example_0_connected_symbian/example_0_connected_symbian
examples/example_1_echoClient/example_1_echoClient
examples/example_2_rosterHandling/example_2_rosterHandling
examples/example_3_transferHandling/example_3_transferHandling
examples/example_5_rpcInterface/example_5_rpcInterface
examples/example_6_rpcClient/example_6_rpcClient
examples/example_7_archiveHandling/example_7_archiveHandling
examples/example_8_server/example_8_server
examples/example_9_vCard/example_9_vCard
Makefile
moc_*.cpp
*.o
src/libqxmpp.*
src/pkgconfig
tests/qrc_tests.cpp
tests/qxmpp-tests
